<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card-title>Primary Skills</mat-card-title>
    <form class="basic-form">
      <div fxLayout="row wrap">
        <!-- column -->
        <div fxFlex.gt-md="100" fxFlex="100">
          <mat-form-field>
            <input type="search" matInput placeholder="Search Primary Skills">
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="100" fxFlex="100" class="m-t-10 m-b-10">
          <label>TeamCenter Implementation</label>
          <label class="text-muted">8 Sub Skills</label>
          <mat-checkbox color="primary" class="m-r-10 text-muted">12 Sub Skills</mat-checkbox>
        </div>
        <div fxFlex.gt-sm="100" fxFlex="100" class="m-t-10 m-b-10">
          <label>TeamCenter Implementation</label>
          <label class="text-muted">8 Sub Skills</label>
          <mat-checkbox color="primary" class="m-r-10 text-muted">12 Sub Skills</mat-checkbox>
        </div>
        <div fxFlex.gt-sm="100" fxFlex="100" class="m-t-10 m-b-10">
          <label>TeamCenter Implementation</label>
          <label class="text-muted">8 Sub Skills</label>
          <mat-checkbox color="primary" class="m-r-10 text-muted">12 Sub Skills</mat-checkbox>
        </div>
        <!-- column -->
        <div fxFlex.gt-sm="100" fxFlex="100">
          <button mat-raised-button color="primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>