<div fxLayout="row wrap">
    <div fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100" class="first-card">
        <mat-card class="md-primary-block">
            <mat-card-content fxLayout="column">
                <!-- <div fxFlex="20"></div>
                <div fxFlex="20"></div> -->
                <!-- <div> -->

                <div fxLayout="row">
                    <div fxFlex>
                        <img src="../../assets/images/background/user-info.jpg">
                    </div>
                    <div fxFlex></div>
                    <h4> Oops You did not add any Project</h4>
                    <div fxFlex></div>
                    <div fxFlex> </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex></div>
                    <button mat-flat-button color="primary" (click)="addProject()">Add Project now</button>
                    <div fxFlex></div>
                </div>                
            </mat-card-content>
        </mat-card>
    </div>
</div>