.piechart {
  height: 300px;
  width: 280px;
  margin: 0 auto;
}

.first-card {
  margin-left: 113px !important;
}
.arrow-blue {
  width: 18px;
  height: 18px;
  color: #1b86f9;
}

.text-black {
  color: #000000;
}

.font15 {
  font-size: 15px;
}

.cardHeader {
  // font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #919bab;
}
.skilsBtn {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(47, 83, 151, 0.1);
}

.secondary-skills-sub-title {
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.9;
  letter-spacing: normal;
  color: #919bab;
}
