<div class="profile">
    <div class="profile-left">
        <h3>
            <img src="assets/images/bag.png" alt=""> 2015- Present
        </h3>
        <div class="profile-left-block">
            <h4>Goofle India</h4>
            <span>1 Yr 4 Mos</span>
        </div>
        <div class="profile-right-block">
            <div class="right-content">
                <h5>Product Manager</h5>
                <p>Aug 2013 - May 2014 1 year <br> Bangalore, India
                </p>
            </div>
            <div class="right-content">
                <h5>Product Manager</h5>
                <p>Aug 2013 - May 2014 1 year <br> Bangalore, India
                </p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="profile-right">
        <div class="responcibulities">
            <h4>Responsibilities</h4>
            <ul>
                <li>Project Management</li>
                <li>Project stratergy</li>
                <li>Negotiations</li>
                <li>Sales Operations</li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="responcibulities">
            <h4>Awards</h4>
            <ul>
                <li>Project Management</li>
                <li>Project stratergy</li>
                <li>Negotiations</li>
                <li>Sales Operations</li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>