<div class="skill-dashboard">
  <mat-card class="skill-board-blocks">
    <mat-card-header>
      <mat-card-title>
        <h4>Teamcenter Implementation</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="skill-content">
      <div class="team-left">
        <ul>
          <li class="active-block">
            <div class="configiration">
              <h5>Experience</h5>
              <span>></span>
            </div>
          </li>
          <li>
            <div class="configiration">
              <h5>Education</h5>
              <span>></span>
            </div>
          </li>
          <li>
            <div class="configiration">
              <h5>Accomplishment</h5>
              <span>></span>
            </div>
          </li>
          <li>
            <div class="configiration">
              <h5>Career Gap</h5>
              <span>></span>
            </div>
          </li>
        </ul>
      </div>
      <div class="team-right">
        <div fxLayout="row wrap">
          <div fxFlex.gt-sm="100" fxFlex="100">
            <mat-card>
              <mat-card-content>
                <form class="basic-form">
                  <div fxLayout="row wrap">
                    <!-- column -->
                    <div fxFlex.gt-md="50" fxFlex="100">
                      <mat-form-field>
                        <input matInput placeholder="Designation">
                      </mat-form-field>
                    </div>
                    <div fxFlex.gt-md="50" fxFlex="100">
                      <mat-form-field>
                        <input matInput placeholder="Company">
                      </mat-form-field>
                    </div>
                    <!-- column -->
                    <div fxFlex.gt-sm="100" fxFlex="100">
                      <mat-form-field>
                        <input matInput placeholder="Location" type="text">
                      </mat-form-field>
                    </div>
                    <!-- column -->
                    <div fxFlex.gt-md="50" fxFlex="100">
                      <mat-form-field>
                        <input matInput placeholder="Start Date">
                      </mat-form-field>
                    </div>
                    <div fxFlex.gt-md="50" fxFlex="100">
                      <mat-form-field>
                        <input matInput placeholder="End Date">
                      </mat-form-field>
                    </div>
                    <!-- column -->
                    <div fxFlex.gt-md="50" fxFlex="100">
                      <mat-form-field>
                        <input matInput>
                      </mat-form-field>
                    </div>
                    <div fxFlex.gt-md="50" fxFlex="100">
                      <mat-form-field>
                        <input matInput>
                      </mat-form-field>
                    </div>                   
                    <!-- column -->
                    <div fxFlex.gt-sm="100" fxFlex="100">
                      <mat-form-field>
                        <textarea matInput placeholder="Responsibilities"></textarea>
                      </mat-form-field>
                    </div>
                     <!-- column -->
                     <div fxFlex.gt-sm="100" fxFlex="100">
                        <mat-form-field>
                          <textarea matInput placeholder="Awards received in above role"></textarea>
                        </mat-form-field>
                      </div>
                  </div>
                </form>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </mat-card-content>
  </mat-card>
  <div>
    <button mat-raised-button color="primary">Save & Next</button>
    <button mat-raised-button color="">Save & Close</button>
  </div>
</div>