<mat-card>
  <mat-card-content>
    <ul class="timeline">
      <li class="timeline-inverted">
        <div class="timeline-badge grey"></div>
        <div class="timeline-panel">
          <mat-card>
            <mat-card-title>
              <div class="timeline-heading">
                <h3 class="timeline-title">
                  <i class="fa fa-suitcase"></i> 2015-Present
                  <i class="fa fa-pencil" (click)="edit()"></i>
                </h3>

                <!-- <p>
              <small class="text-muted">
                <i class="fa fa-clock-o"></i> 11 hours ago via Twitter
              </small>
            </p> -->
              </div>
            </mat-card-title>
            <mat-card-content>
              <div class="text-left">
                <img src="../../assets/images/users/google-shape.png" alt="">
                <div>
                  Google India
                </div>
                <label class="text-muted">1 yr 4 mos</label>
              </div>
              <div class="timeline-body text-right">
                <div class="right-content">
                  <h5>Product Manager</h5>
                  <p>Aug 2013 - May 2014 1 year <br> Bangalore, India
                  </p>
                </div>
                <div class="right-content">
                  <h5>Product Manager</h5>
                  <p>Aug 2013 - May 2014 1 year <br> Bangalore, India
                  </p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>        
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge grey">
          <!-- <i class="fa fa-graduation-cap"></i> -->
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Lorem ipsum dolor</h4>
          </div>
          <div class="timeline-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia
              voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim
              incidunt quisquam maxime neque eaque.</p>
          </div>
        </div>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
<!-- <div class="profile">
  <div class="profile-left">
    <h3>
      <img src="assets/images/bag.png" alt=""> 2015- Present
    </h3>
    <div class="profile-left-block">
      <h4>Goofle India</h4>
      <span>1 Yr 4 Mos</span>
    </div>
    <div class="profile-right-block">
      <div class="right-content">
        <h5>Product Manager</h5>
        <p>Aug 2013 - May 2014 1 year <br> Bangalore, India
        </p>
      </div>
      <div class="right-content">
        <h5>Product Manager</h5>
        <p>Aug 2013 - May 2014 1 year <br> Bangalore, India
        </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="profile-right">
    <div class="responcibulities">
      <h4>Responsibilities</h4>
      <ul>
        <li>Project Management</li>
        <li>Project stratergy</li>
        <li>Negotiations</li>
        <li>Sales Operations</li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="responcibulities">
      <h4>Awards</h4>
      <ul>
        <li>Project Management</li>
        <li>Project stratergy</li>
        <li>Negotiations</li>
        <li>Sales Operations</li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div> -->


<!-- Add the timeline -->
<!-- <vertical-timeline> -->

<!-- Add some cards to the timeline. It works with *ngFor too -->

<!-- If no value is passed for the date, the current time is used. -->
<!-- <vertical-timeline-card>
    <h1>Today</h1>
  </vertical-timeline-card> -->

<!-- tomorrow = new Date(2017, 9, 20, 14,34); -->
<!-- <vertical-timeline-card [dateValue]="tomorrow">
    <h1>Tomorrow</h1>
  </vertical-timeline-card>

</vertical-timeline> -->