<div class="project-details">
    <div class="left-project-details">
        <div class="project-type">
            <h5>Number of Projects</h5>
            <span>10</span>
        </div>
        <div class="project-type">
            <h5>Project Type</h5>
            <ul>
                <li>Upgrade</li>
                <li>Software Development</li>
                <li>App Development</li>
                <li>Research & Development</li>
            </ul>
        </div>
        <div class="project-type">
            <h5>Products/Technologies</h5>
            <ul>
                <li>Upgrade</li>
                <li>Software Development</li>
                <li>App Development</li>
                <li>Research & Development</li>
            </ul>
            <a class="read-more" href="">Read More 2+</a>
        </div>
        <div class="project-type">
            <h5>Timeline</h5>
            <span>10</span>
        </div>
    </div>
    <div class="right-priject-details">
        <div class="data-blocks">
            <h3>Big Data Haddoop</h3>
            <div class="projects-skills">
                <div class="left">
                    <p>
                        <img src="assets/images/cup.png" alt="">
                    </p>
                    <div class="proto-type">
                        <h6>Project Type</h6>
                        <span>Upgrade</span>
                    </div>
                </div>
                <div class="left">
                    <p>
                        <img src="assets/images/cup.png" alt="">
                    </p>
                    <div class="proto-type">
                        <h6>Project Type</h6>
                        <span>Upgrade</span>
                    </div>
                </div>
                <div class="left">
                    <p>
                        <img src="assets/images/cup.png" alt="">
                    </p>
                    <div class="proto-type">
                        <h6>Project Type</h6>
                        <span>Upgrade</span>
                    </div>
                </div>
                <div class="left">
                    <p>
                        <img src="assets/images/cup.png" alt="">
                    </p>
                    <div class="proto-type">
                        <h6>Project Type</h6>
                        <span>Upgrade</span>
                    </div>
                </div>
            </div>
            <div class="projects-summery">
                <div class="project-script">
                    <a href="">Project Summery</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis qui error quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis qui error quidem.</p>
                </div>
                <div class="project-script">
                    <a href="">Project Summery</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis qui error quidem.</p>
                </div>
                <div class="project-script">
                    <a href="">Project Summery</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis qui error quidem.</p>
                </div>
                <div class="project-script">
                    <a href="">Project Summery</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis qui error quidem.</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="data-blocks">
            <h3>Big Data Haddoop</h3>
            <div class="projects-skills">
                <div class="left">
                    <p>
                        <img src="assets/images/cup.png" alt="">
                    </p>
                    <div class="proto-type">
                        <h6>Project Type</h6>
                        <span>Upgrade</span>
                    </div>
                </div>
                <div class="left">
                    <p>
                        <img src="assets/images/cup.png" alt="">
                    </p>
                    <div class="proto-type">
                        <h6>Project Type</h6>
                        <span>Upgrade</span>
                    </div>
                </div>
                <div class="left">
                    <p>
                        <img src="assets/images/cup.png" alt="">
                    </p>
                    <div class="proto-type">
                        <h6>Project Type</h6>
                        <span>Upgrade</span>
                    </div>
                </div>
                <div class="left">
                    <p>
                        <img src="assets/images/cup.png" alt="">
                    </p>
                    <div class="proto-type">
                        <h6>Project Type</h6>
                        <span>Upgrade</span>
                    </div>
                </div>
            </div>
            <div class="projects-summery">
                <div class="project-script">
                    <a href="">Project Summery</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis qui error quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis qui error quidem.</p>
                </div>
                <div class="project-script">
                    <a href="">Project Summery</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis qui error quidem.</p>
                </div>
                <div class="project-script">
                    <a href="">Project Summery</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis qui error quidem.</p>
                </div>
                <div class="project-script">
                    <a href="">Project Summery</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis qui error quidem.</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>