<div fxLayout="row wrap">
    <div fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100" class="first-card">
        <mat-card class="md-primary-block">
            <mat-card-content fxLayout="column">
                <div fxFlex="20"></div>
                <div fxFlex="20"></div>
                <div fxLayout="row">
                    <div fxFlex></div>
                    <div fxFlex></div>
                    <h4> You didn't added any primary skills</h4>
                    <div fxFlex>
                    </div>
                    <div fxFlex>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex></div>
                    <button mat-flat-button color="primary" (click)="addSkill()">Add skills now</button>
                    <div fxFlex></div>
                </div>
                <div fxFlex="20"></div>
                <div fxFlex="20"></div>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="md-primary-block">
            <mat-card-content fxLayout="column">
                <div fxFlex="20"></div>
                <div fxFlex="20"></div>
                <div fxLayout="row">
                    <div fxFlex></div>
                    <div fxFlex></div>
                    <h4> You didn't added any Secondary skills</h4>
                    <div fxFlex>
                    </div>
                    <div fxFlex>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex></div>
                    <button mat-flat-button color="primary" (click)="addSkill()">Add skills now</button>
                    <div fxFlex></div>
                </div>
                <div fxFlex="20"></div>
                <div fxFlex="20"></div>
            </mat-card-content>
        </mat-card>
    </div>
</div>